BasedOnStyle: Google
AllowAllParametersOfDeclarationOnNextLine: false
AlignConsecutiveAssignments: true
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BinPackParameters: false
BreakBeforeBraces: Attach
ColumnLimit: 96
ReflowComments: false
SortIncludes: true
