.ae
.cache
.DS_Store
.meta
*.d.ts
*.gz
*.js
*.log
*.map
*.o
*.tgz
*.wasm
*.wat
*.zip
/.gtm/
ae-docs
assets/banners
dist
dev
doc

!examples/**/*.d.ts
examples-private
export
lib
node_modules
tachyons.min.css
zig-cache

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
