*       text=auto eol=lf
*.gif	binary
*.jpg	binary
*.mp4	binary
*.pdf	binary
*.png	binary
*.gz	binary
*.meta	linguist-language=text
tools/doc/* linguist-documentation
/.yarn/releases/** binary
yarn.lock -diff