.ae
.cache
.parcel-cache
.DS_Store
.meta
.nyc_output
*.bak*
*.d.ts
*.gz
*.js
*.log
*.map
*.o
*.tgz
*.wasm
*.wat
*.zip
/.gtm/
ae-docs
assets/banners
build
bundle.*
coverage
dev
doc
docs
examples/crdt
examples/delaunay-draw
examples/diagram
examples/dunes
examples/formgen
examples/growth
examples/dataflow-scenegraph
examples/hdc
examples/hdom-class
examples/hdom-clj
examples/lqtree
examples/mesh
examples/pedit
examples/pointfree-geom
examples/quad-db
examples/sdf-logo
examples/simd-basics
examples/soa-test
examples/texgen
examples/text-canvas-tables
examples/tsne
examples/ts-parse
examples/webgl-erosion
export
lib
node_modules
tachyons.min.css
zig-cache

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
