.ae
.cache
.parcel-cache
.DS_Store
.meta
.nyc_output
*.bak*
*.d.ts
*.gz
*.js
*.log
*.map
*.o
*.tgz
*.wasm
*.wat
*.zip
/.gtm/
ae-docs
assets/banners
build
bundle.*
coverage
dev
doc
docs

!examples/**/snowpack.config.js
!examples/**/*.d.ts
examples-private
export
lib
node_modules
tachyons.min.css
zig-cache

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
