html {
    font: 14px/1.4 Helvetica, Arial, sans-serif;
}

h3 {
    margin: 0;
}

footer {
    margin-top: 2em;
}

.item.light {
    background: #eee;
}

.item.dark {
    background: #333;
    color: #ccc;
    font-family: Inconsolata, Menlo, monospace;
}

.item.light .meta {
    background: #999;
    color: #fff;
}

.item.dark .meta {
    background: #555;
    color: #ee0;
}

.item.light ul.tags li {
    background: #333;
}

.item.dark ul.tags li {
    background: #ee0;
}

.item.light .meta a:link,
.item.light .meta a:visited {
    color: #fff;
}

.item.dark .meta a:link,
.item.dark .meta a:visited {
    color: #ee0;
}

.item.dark ul.tags a:link,
.item.dark ul.tags a:visited {
    color: #000;
}

.item {
    display: inline-block;
    width: 45%;
    margin: 5px;
    padding: 10px;
    vertical-align: top;
}

.meta {
    font-size: 10px;
    margin: 10px -10px;
    padding: 10px 10px 5px 10px;
}

ul.tags {
    list-style: none;
    padding: 0;
}

ul.tags li {
    display: inline-block;
    padding: 0px 6px 2px 6px;
    border-radius: 8px;
    margin-right: 2px;
}

.meta a:link,
.meta a:visited {
    text-decoration: none;
}

#container {
    display: grid;
    grid-template-columns: 33% auto;
    grid-template-rows: auto;
    grid-column-gap: 20px;
}

textarea {
    width: 100%;
    height: 100%;
    font: 12px/1.2 monospace;
    background: url(img/editme.png);
    background-size: contain;
}
