name: test-all
permissions: {}
on:
    push:
        branches:
            - feature/*
            - develop
            - main
        paths:
            - "packages/**"
            - "tools/**"
            - ".github/workflows/**"
            - "package.json"
            - "yarn.lock"
            - "!**.md"
    pull_request:
        branches:
            - develop
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
            - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020
              with:
                  node-version: "24.11.0"
                  cache: "yarn"
            - uses: mlugg/setup-zig@8d6198c65fb0feaa111df26e6b467fea8345e46f
              with:
                  version: 0.15.1
            - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76
              with:
                  bun-version: latest
            - run: yarn install --immutable
            - run: yarn test
            - run: yarn tool:imports
