name: test-all
on:
    push:
        branches:
            - develop
            - master
    pull_request:
        branches:
            - develop
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: ">=14.6.0"
            - run: yarn test
